<header class="p-3 mb-3 border-bottom" data-bs-theme="dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center">
            <a href="/main" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img width="50" height="50" src="../../assets/logo/preview.png" alt="logo">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {{ range $key, $value := .headers }}
                    <li><a href="{{ $key }}" class="nav-link px-2">{{ $value }}</a></li>
                {{ end }}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="dropdown text-end">
                <button style="background-color: blueviolet" class="btn btn-secondary btn-circle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ .avatarText }}
                </button>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                    <li class="dropdown-item">{{ .userLogin }}</li>
                    <li class="dropdown-item">{{ .firstname }} {{ .lastname }}</li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/user/profile">Профиль</a></li>
                    <li><a class="dropdown-item" href="#">Настройки</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/api/auth/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>