<div class="container square-box d-flex justify-content-center align-items-center w-100">
    <div class="container w-25 rounded-3 p-4 shadow-lg form-bg-color">
        <p class="lead text-center"><b>Войти</b></p>
        <form class="needs-validation" id="authForm" novalidate>
            <div class="mb-3">
                <label for="loginInput" class="form-label">Логин</label>
                <input type="text" class="form-control" id="loginInput" name="login">
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="passwordInput" name="password" required>
                <div class="invalid-feedback">
                    Неверный логин или пароль
                </div>
            </div>
        </form>
        <button class="btn btn-outline-primary" onclick="auth();">Войти</button>
    </div>
</div>
<script src="../../assets/js/auth.js"></script>