{{define "concrete_project"}}
{{ template "sprint_create_modal"}}
<div class="row ms-3 d-flex" data-project-id="{{ .projectId }}">
    <div class="pool me-3 overflow-scroll">
        <h4 class="text-center">Бэклог</h4>
        <input type="text" class="form-control mt-3 mb-3" id="backlog-search" placeholder="Искать...">
        <button type="button" class="btn btn-outline-primary w-100">Создать задачу</button>
        <div class="card mt-3 mb-3" style="width: auto;">
            <div class="card-body">
                <p class="card-title lead">Неверное отображение в счётчике у папки "В дело"</p>
                <h6 class="card-subtitle mb-2">
                    <span class="badge rounded-pill text-bg-danger">Баг</span>
                    <span class="badge rounded-pill text-bg-primary">Фронтенд</span>
                    <span class="badge rounded-pill text-bg-success">Бекенд</span>
                </h6>
                <p class="card-text text-truncate">
                    У папки "В дело" в счётчике на всех аккаунтах отображается такое же количество как и в папке "Отправленные", хотя она пустая.
                </p>
            </div>
        </div>
    </div>
    <div class="sprints-block overflow-scroll me-3">
        <div class="row">
            <h4 class="text-center">Спринты</h4>
            <div class="col-3 me-3">
                <input type="text" class="form-control" id="sprintsSearch" placeholder="Искать...">
            </div>
            <div class="col-2">
                <select class="form-select">
                    <option selected>Сначала новые</option>
                    <option value="1">Сначала старые</option>
                </select>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-center" id="pagination-demo"></div>
            </div>
        </div>
        {{template "sprint_cards" .}}
    </div>
</div>

<script src="../../../assets/js/project/sprints/sprints.js"></script>
{{end}}