{{define "table"}}
<table class="table table-user" id="tableUser">
    <thead>
    <tr>
        <th scope="col" data-ident="fio">ФИО</th>
        <th scope="col" data-ident="login">Логин</th>
        <th scope="col" data-ident="departments">Отдел</th>
        <th scope="col" data-ident="positions">Должность</th>
        <th scope="col" data-ident="specializations">Специализация</th>
        <th scope="col" data-ident="isActive">Активен</th>
        <th scope="col" data-ident="systemRole">Системная роль</th>
        <th scope="col" data-ident="createdAt">Дата создания</th>
        <th scope="col" data-ident="createdAt">Последняя активность</th>
        <th scope="col" data-ident="actions">Действия</th>
    </tr>
    </thead>
    <tbody>
    {{ range .users }}
    <tr>
        <td>{{ .Lastname }} {{ .Firstname }} {{ .Middlename }}</td>
        <td>{{ .Login }}</td>
        <td>
            {{ range .Departments }}
            {{ .Title }}
            {{ end }}
        </td>
        <td>
            {{ range .Positions }}
            {{ .Title }}
            {{ end }}
        </td>
        <td>
            {{ range .Specializations }}
            {{ .Title }}
            {{ end }}
        </td>
        <td>{{ .IsActive }}</td>
        <td>{{ .SystemRole }}</td>
        <td>{{ .CreatedAt.Format "02.01.2006 15:04:05" }}</td>
        <td>{{ .CreatedAt.Format "02.01.2006 15:04:05" }}</td>
        <td><a href="{{ .Id }}">Редактировать</a> <a href="#">Удалить</a></td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{end}}